
html{
  background: #000;
}

.heading{
  color: #FFFFFF;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}


#messageOne{
  /* max-width: 300px; */
  margin-right: auto ;
  margin-bottom:2px ;
  max-width: 24rem;
  display: inline-block;
  background: rgb(219 234 254);
  color: rgb(29 78 216);
  font-size: 0.875rem; 
  line-height: 1.25rem;
  padding: 0px 0.5rem 0.25rem 0.5rem ;
  border-radius: 0.375rem;

  @media (min-width: 768px) { max-width: 28rem ; }

}

#messageTwo{
  /* max-width: 300px; */
  margin-left: auto ;
  margin-bottom:2px ;

  max-width: 24rem;
  display: inline-block;
  background: rgb(29 78 216);
  color:rgb(219 234 254) ;
  font-size: 0.875rem; 
  line-height: 1.25rem;
  padding: 0px 0.5rem 0.25rem 0.5rem ;
  border-radius: 0.375rem;

  @media (min-width: 768px) { max-width: 28rem ; }

}
@tailwind base;
@tailwind components;
@tailwind utilities;
